@use 'variables';
@use 'buttons';
@use 'blog';

body {
  font-family: variables.$font-family;
  color: variables.$text-color;
  margin: 0;
  padding: 0;
  background: #f9fafb;
}

h1, h2, h3 {
  color: variables.$primary-color;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 15px;
  }
}
