@import 'variables';
@import 'buttons';

body {
  font-family: $font-family;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: $primary-color;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 15px;
  }
}
